{% extends "/layouts/base.html" %}
{% block head %}<title>Reset</title>{% endblock %}
{% block body %}
<div class="mt-5 container-fluid d-flex align-items-center justify-content-center">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-8 border rounded shadow">
        <form class="bg-white p-4" name="login_form" method="POST" action="/reset/">
          {{ form.csrf_token }}
          <!-- Email input -->
          <div class="form-outline text-center mb-4">
            <h5>Reset Password</h5>
          </div>
          {% for message in get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
          <div class="form-outline mb-4">
            <div class="form-floating">
              {{ form.email(class="form-control",placeholder="Email") }} {{ form.email.label}}
              <!-- <input type="email" id="regEmail" name="regEmail" class="form-control" />
              <label class="form-label" for="regEmail">Email address</label> -->
            </div>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="form-text text-danger">
              {{ error }}
            </div>
            {% endfor %}
            {% endif %}
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col justify-content-center">
                <label class="form-check-label">
                  Remember Password?
                </label>
            </div>
            <div class="col text-center">
                <!-- Simple link -->
                <a href="{{url_for('auth.login')}}">Sign in</a>
              </div>
            </div>

            <div class="text-center">
              {{ form.submit(class="btn btn-dark btn-block") }}
              <!-- <button type="submit" class="btn btn-primary btn-block">Sign up</button> -->
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}